name: Run Smoke Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  smoke-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build and run Smoke tests
      run: mvn clean verify -Dcucumber.filter.tags="@Hero1"

    - name: Find latest report folder
      id: find_report
      run: |
        latest=$(ls -td test-report/*/ | head -1)
        echo "latest_report=$latest" >> $GITHUB_OUTPUT

    - name: Upload Cucumber HTML report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: cucumber-smoke-report
        path: ${{ steps.find_report.outputs.latest_report }}
